/* STYLE RETRO / CARTOON */

@import url('https://fonts.googleapis.com/css2?family=Kodchasan:wght@300;400;500;600;700&display=swap');

:root{
    --dark: #1b1a1a;
    --yellow: #FDB801;
    --light: #FFF2E9;
    --marron: #BA7200;
    --white: #ffffff;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Kodchasan", sans-serif;
    background-color: var(--light);
    color: var(--dark);
    min-height: 100vh;
    padding: 50px;
}

.container{
    max-width: 1200px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

h1{
    width: 100%;
    text-align: center;

    font-size: 52px;
    margin-bottom: 64px;

    color: var(--dark);
}

/* FLEX */

.flex{
    display: flex;
    flex-wrap: wrap;
}

.space-between{
    justify-content: space-between;
}

.gap-50{
    gap: 50px;
}

/* LISTE */

ul{
    list-style: none;
}

/* CARTES DASHBOARD */

li{
    position: relative;

    background-color: var(--white);

    border:
        solid 3px var(--dark);

    border-right:
        solid 6px var(--dark);

    border-bottom:
        solid 9px var(--dark);

    border-radius: 24px;

    transition:
        transform .15s ease,
        border .15s ease,
        background-color .2s ease;

    overflow: hidden;

    width: 30%;

    padding: 50px 0;

    display: flex;
    align-items: center;
    justify-content: center;
}

/* hover card */

li:hover{

    transform: translateY(-4px);

    border-right:
        solid 3px var(--dark);

    border-bottom:
        solid 5px var(--dark);

    background-color: #fff6d8;
}

/* liens */

a{
    text-decoration: none;

    color: var(--dark);

    font-size: 24px;

    font-weight: 700;

    text-align: center;

    transition: .2s ease;
}

/* hover texte */

a:hover{
    color: var(--marron);
}

/* bandeau haut */

li::before{

    content: "";

    position: absolute;

    width: 100%;
    height: 10px;

    top: 0;
    left: 0;

    background-color: var(--yellow);

    border-bottom:
        solid 3px var(--dark);
}